<h1>商品一覧</h1>
<span>
  <% @products.each do |product| %>
  <%= image_tag product.get_product_image(200, 200) %></br>
  <%= link_to product.name, public_product_path(product.id) %></br>
  ￥<%= product.price.to_s(:delimited) %>
  <% end %>
</span>

